body {
  background: #3F4168;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #666666;
  margin: 16px auto;
  padding: 8px;

}

.title {
  background: #A0A1D0;
  margin-bottom: 8px;
  font-size: 24px;
  padding: 8px; 
}

.content {
  background: #A0A1D0;
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  background: #A0A1D0;
  margin-bottom: 8px;
  padding: 8px;
  text-align: center;
}

button {
  background: #3F4168;
  color: #eee;
  border: 1px solid #000000;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;

}